@import 'src/_styles/variables';

.carDetailsHeader {
  width: 100%;
  height: 400px;
  background-color: $color-grey;
  margin-bottom: $space-size-lg;
}

.carDetailsWrapper {
  min-height: 400px;
  margin: 0 auto;
  width: 800px;
  display: flex;
}

.carDetailsInfo {
  width: 550px;
  padding-right: $space-size-lg;
}

.carDetailsTitle {
  font-size: $font-size-xl;
  margin-bottom: $space-size-lg;
}

.carDetailsDescription {
  font-size: $font-size-lg;
  color: $color-dark;
  margin-bottom: $space-size-lg;
}

.carDetailsText {
  color: $color-dark;
  font-size: $font-size-md;
  line-height: 1.5rem;
}
