@import 'src/_styles/variables';

.carsFiltersWrapper {
  flex-basis: 35%;
}

.carsFilters {
  border: 1px solid $color-grey;
  margin: $space-size-lg;
  padding: $space-size-lg;
}

@media screen and(max-width: 767px) {
  .carsFilters {
    flex-grow: 0;
    flex-basis: 100%;
  }
}
